.switcher {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4px;
  border: 1px solid var(--border-color);
  border-radius: var(--border-radius-medium);
  padding: 4px;
  width: fit-content;
  min-height: 42px;

  &__btn {
    width: 32px;
    height: 32px;
    background-color: var(--neutral-bg);
    border: none;
    border-radius: var(--border-radius-small);
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--neutral-color);
    transition: color var(--transition-property);

    &:hover {
      color: var(--primary-color);
    }
  }
}