.home {
  height: 100%;
  display: grid;
  gap: 24px;
  align-content: start;

  &__cards {
    display: grid;
    gap: 16px;
  }

  @media screen and (min-width: 768px) {
    &__cards {
      grid-template-columns: repeat(2, 1fr);
    }
  }

  @media screen and (min-width: 1280px) {
    &__cards {
      grid-template-columns: repeat(3, 1fr);
    }
  }
}